*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 20px;
}

body {
    background-color: #548786;
    text-align: center;
    margin-top: 50px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box:hover{
    opacity: 70%;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    font-size: 8vmin;
    background-color: #ffffc7;
    color: #b0413e;
}

.resetgame{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: aliceblue;
    border: none;

}

#newgame {
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: aliceblue;
    border: none;

}

#msg{
    color: #ffffc7;    
    font-size: x-large;
}

.msg-container{
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hide{
    display: none;
}
